# Logs
logs
*.log
.pnpm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# build output
.next
.turbo
out
dist
dist-ssr

# OS files
.DS_Store

# Misc
.docker
