# Logs
logs
*.log
.pnpm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# Build output
.astro
.expo
out
dist
dist-ssr
dev-dist

# Expo
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# OS files
.DS_Store

# Misc
.docker
